.header {
  font-size: 80px;
  text-align: center;
  font-weight: 500;
  margin-top: 15vh;
  letter-spacing: 8px;
}
.stopwatcharea {
  min-height: 40vh;
  margin-top: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 150px;
  margin: 20px;
  letter-spacing: 50px;
  margin-bottom: 5vh;
}

.options button {
  font-size: 40px;
  margin: 20px;
  cursor: pointer;
  border-radius: 9px;
  padding: 8px;
}

.options button:hover {
  background-color: #fff3da;
}
